<div style="text-align:center">
  <div class="container">
    <div class="header-content jumbotron row">
      <div class="header-logo col-md-6">
        <a href="/store">
          <i class="header-icon fas fa-glass-martini-alt"></i>
          <h1 style="display: inline;">Online Store!</h1>
        </a>
      </div>
      <div class="login-section col-md-6">
        <app-login></app-login>
      </div>
      <a href="/shopping" *ngIf="this.usersService.signedUser"><div class="shopCard"><i class="fas fa-shopping-cart"></i><span>{{shoppingCardOProductsCount()}}</span></div></a>
    </div>
    <router-outlet *ngIf="this.usersService.signedUser"></router-outlet>
    <app-registration *ngIf="!this.usersService.signedUser"></app-registration>
    <app-popup-messages></app-popup-messages>
  </div>
</div>
