<div *ngIf="!this.userService.signedUser" class="login-form">
  <div class="input-fields">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Username</span>
      </div>
      <input maxlength="49" (keyup.enter)="login()" type="text" class="form-control" [(ngModel)]="loginData.userName" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Password</span>
      </div>
      <input maxlength="49" (keyup.enter)="login()" type="password" class="form-control" [(ngModel)]="loginData.password" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
  </div>
  <div class="buttons-group">
    <button class="btn btn-primary" (click)="login()">Login</button>
  </div>
</div>
<div class="logout-form" *ngIf="this.userService.signedUser">
  <h3 class="logout-text">Welcome {{this.userService.signedUser.firstName + ' ' + this.userService.signedUser.lastName}}!</h3>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>
