<div *ngIf="popupMessagesService.message" class="popup-message modal" tabindex="-1" role="dialog" (click)="popupMessagesService.hide()" (keyup.enter)="popupMessagesService.hide()">
  <div class="modal-dialog" role="document">
    <div class="modal-content" click-stop-propagation>
      <div class="modal-header">
        <h5 class="modal-title">{{popupMessagesService.title}}</h5>
        <button type="button" class="close" (click)="popupMessagesService.hide()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="popupMessagesService.imageUrl" class="card">
          <img class="card-img-top" src="{{popupMessagesService.imageUrl}}" alt="{{popupMessagesService.title}}">
        </div>
        <h5 *ngIf="popupMessagesService.imageUrl">{{popupMessagesService.subMessage}}</h5>
        <p>{{popupMessagesService.message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="popupMessagesService.hide()">Ok</button>
        <button type="button" class="disableSecondButton btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
